{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Mon profil{% endblock %}

{% block body %}
{{ parent() }}

<div class="container p-4">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <h2 class="text-dark text-center mt-2"><strong><u>Mes informations personnelles</u></strong></h2>
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary">Mail : {{user.email}}</li>
                <li class="list-group-item list-group-item-primary">Nom : {{user.nom}}</li>
                <li class="list-group-item list-group-item-primary">Prénom: {{user.prenom}}</li>
                <li class="list-group-item list-group-item-primary">Date de création du compte: {{user.dateCreationCompte | date('d/m/Y')}}</li>
                {% if user.isVerified == true %}
                    <li class="list-group-item list-group-item-success">Compte validé&#9989;</li>
                {% else %}    
                    <li class="list-group-item list-group-item-danger">Compte non validé&#10060;</li>
                {% endif %}
            </ul>
        </div>  
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <h2 class="text-dark text-center mt-2"><strong><u>Gestion de mon compte</u></strong></h2>
            <div class="d-grid gap-4">
                {% if user.isVerified == true %}
                    <div class="btn-group">
                        <a href="{{path('app_address_management')}}" class="btn btn-lg btn-outline-primary m-2 rounded">Gérer mes adresses de livraison</a>
                        <a href="{{path('app_profile-update')}}" class="btn btn-lg btn-outline-primary m-2 rounded">Modifier mes informations personnelles</a>
                    </div>
                    <div class="btn-group">
                        <a href="{{path('app_profile_update_password')}}" class="btn btn-lg btn-outline-primary m-2 rounded">Modifier mon mot de passe</a>
                        <a href="{{path('app_profile', {'id':user.id})}}" class="btn btn-lg btn-outline-primary m-2 rounded">Exporter mes données JSON</a>
                    </div>
        
                {% else %}
                    <form method="post" class="text-center">
                        <input class="btn btn-lg btn-outline-danger" type="submit" value="Valider mon compte (obligatoire)" name="verification">
                    </form>    
                    <h5 class="text-danger">Veuillez valider votre compte en confirmant le lien reçu dans le mail que nous vous 
                    avons envoyé à l'adresse mail que vous nous avez renseigné<br/><br/>Dans le cas où l'adresse mail que vous avez renseigné est erronnée,
                    veuillez contacter l'administrateur du site <a href="{{path('app_contact')}}"> sur ce lien</a> afin de recréer un compte avec une 
                    adresse mail valide et de supprimer l'ancien.
                    </h5>
                {% endif %}
                <small>WebDealMarket s'engage à respecter le Règlement Général sur la Protection des Données (RGPD) du 27 avril 2016.
                Pour en savoir plus sur notre politique de traitement des données, veuillez cliquer <a href="{{path('app_mentions')}}">ici</a>.</small>

            </div>
        </div>
    </div>   
</div>
{% endblock %}
