{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Mon panier{% endblock %}

{% block body %}
{{ parent() }}
    
        {% if cart is empty %}
            <div class="container p-4 text-center">
                <h3>Votre panier est vide !&#128542;</h3>

                <h6><a href="{{path('app_product_list')}}">Retour à la liste des produits</a></h6>
            
            </div>
        {% else %}
            {% set prixTotal = 0 %}
            {% set nbrProduit = 0 %}

            <h2 class="text-dark text-center mt-2">Mon panier</h2>
            <h5 class="text-dark text-center mt-2">Retrouvez l'ensemble des produits ajoutés à votre panier</h5>
            <div class="container p-4">
                <div class="list-group w-auto">
                    {% for produit in cart %}
                    {% set prixTotal = prixTotal + (produit.produit.prix * produit.quantity) %}
                    {% set nbrProduit = nbrProduit + produit.quantity %}
                        <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                            <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>   
                                    {% for fichier in produit.produit.illustration %}
                                        <img class="img-thumbnail" src="{{ asset('uploads/fichiers/'~fichier.nomServeur) }}" 
                                        alt="{{ produit.produit.slug }}" width="50px">
                                    {% endfor %}
                                    <a href="{{path('app_product_public', {'slug':produit.produit.slug})}}">
                                        <h6 class="mb-0 text-center">{{ produit.produit.libelle }}</h6>
                                    </a>    
                                    <p class="mb-0 opacity-75">x {{produit.quantity}}</p>
                                </div>
                                <div>
                                    <small class="opacity-50 text-nowrap">Prix unitaire: {{ produit.produit.prix }}€</small>
                                    <a href="{{path('app_add_to_cart', {'id':produit.produit.id})}}">
                                        <i class="fa-solid fa-plus text-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Ajouter"></i>
                                    </a>
                                    <a href="{{path('app_decrease_cart', {'id':produit.produit.id})}}">
                                        <i class="fa-solid fa-minus text-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Retirer"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="d-flex gap-1 justify-content-between p-2">
                    <h6 class="p-2">Nombre de produits: {{nbrProduit}}</h6>
                    <h6 class="p-2">Prix total: {{prixTotal}}€</h6>
                </div>
                <div class="container p-4 text-center">
                    <a class="btn btn-success m-1" href="#">Valider ma commande</a>
                    <a class="btn btn-danger m-1" href="{{path('app_remove_cart')}}" data-bs-toggle="modal" data-bs-target="#exampleModal">Vider mon panier</a>
                </div>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
				    <div class="modal-content">
					    <div class="modal-header">
							<h3 class="modal-title text-danger" id="exampleModalLabel"><strong>Vider le panier</strong></h3>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<h5>Vous allez vider votre panier !</h5><br/>
							<p class="text-dark"><i>Êtes-vous sûr de vouloir vider votre panier ?</i></p>
						</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
								<a class="btn btn-outline-danger" href="{{path('app_remove_cart')}}">Vider mon panier</a>
							</div>
						</div>
					</div>
				</div>
            </div>
        {% endif %}
        <script>
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        </script>

{% endblock %}
