{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Accueil{% endblock %}

{% block body %}
{{ parent() }}

<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-lg-8">
            <div class="jumbotron">
                <h1 class="display-4 text-primary">Nous rachetons votre appareil multimédia !</h1>
                <p class="lead">Grâce à notre simulateur de reprise, nous pouvons reprendre votre appareil sans bouger de chez vous ! Smartphones, ordinateurs,
                consoles... nous reprenons tout type d'appareil !</p>
                <hr class="my-4">
                <p>Faites un geste pour la planète, ne jeter pas votre appareil, revendez le pour lui donner une deuxième vie !</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Commencer l'estimation de mon appareil</a>
                </p>
            </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block">
            <img src="{{asset('images/logo.png')}}" style="width:150%" class="img-fluid img-thumbnail" alt="Web Deal Market">
        </div>
    </div>
</div>

<div class="container mt-4 mb-4 d-flex justify-content-center">
    <h2 class="text-primary"><strong>Nos produits en vedettes</strong></h2>
</div>


<div data-aos="fade-up" data-aos-duration="1400" class="container p-4 d-flex justify-content-center">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
            <img src="{{asset('images/logo.png')}}" class="card-img-top" alt="Logo produit">
                <div class="card-body">
                    <h5 class="card-title">Produit un tel</h5>
                    <p class="card-text">Texte en attente du produit</p>
                    <a href="#" class="btn btn-primary">Voir le produit</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
            <img src="{{asset('images/logo.png')}}" class="card-img-top" alt="Logo produit">
                <div class="card-body">
                    <h5 class="card-title">Produit un tel</h5>
                    <p class="card-text">Texte en attente du produit</p>
                    <a href="#" class="btn btn-primary">Voir le produit</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
            <img src="{{asset('images/logo.png')}}" class="card-img-top" alt="Logo produit">
                <div class="card-body">
                    <h5 class="card-title">Produit un tel</h5>
                    <p class="card-text">Texte en attente du produit</p>
                    <a href="#" class="btn btn-primary">Voir le produit</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
            <img src="{{asset('images/logo.png')}}" class="card-img-top" alt="Logo produit">
                <div class="card-body">
                    <h5 class="card-title">Produit un tel</h5>
                    <p class="card-text">Texte en attente du produit</p>
                    <a href="#" class="btn btn-primary">Voir le produit</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
            <img src="{{asset('images/logo.png')}}" class="card-img-top" alt="Logo produit">
                <div class="card-body">
                    <h5 class="card-title">Produit un tel</h5>
                    <p class="card-text">Texte en attente du produit</p>
                    <a href="#" class="btn btn-primary">Voir le produit</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
            <img src="{{asset('images/logo.png')}}" class="card-img-top" alt="Logo produit">
                <div class="card-body">
                    <h5 class="card-title">Produit un tel</h5>
                    <p class="card-text">Texte en attente du produit</p>
                    <a href="#" class="btn btn-primary">Voir le produit</a>
                </div>
            </div>            
        </div>
    </div>
</div>

{% endblock %}



