{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Ajouter un produit{% endblock %}

{% block body %}
{{parent()}}
<div class="container p-4">
    <h2 class="text-primary text-center"><strong>Ajouter un produit</strong></h2>
</div>

<div class="container m-6 p-4">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                {{form_start(form)}}
					{{form_errors(form.libelle)}}
					{{form_errors(form.subtitle)}}
					{{form_errors(form.prix)}}
					{{form_errors(form.quantite)}}

					{{form_label(form.libelle, 'Nom du produit', {'label_attr':{'class':'fw-bold text-dark'}})}}
                	{{form_widget(form.libelle, {'attr':{'class':'form-control text-dark', 'placeholder':'Nom du produit','maxlength':'255'}})}}

					<div class="row">
						<div class="col">
							{{form_label(form.idCategorie, 'Choix catégorie', {'label_attr':{'class':'fw-bold text-dark'}})}}
                			{{form_widget(form.idCategorie, {'attr':{'class':'form-control text-dark', 'placeholder':'Catégorie du produit'}})}}
						</div>
						<div class="col">
							{{form_label(form.idMarque, 'Choix marque', {'label_attr':{'class':'fw-bold text-dark'}})}}
                			{{form_widget(form.idMarque, {'attr':{'class':'form-control text-dark', 'placeholder':'Marque du produit'}})}}
						</div>
						<div class="col">
							{{form_label(form.idEtat, 'Choisir état', {'label_attr':{'class':'fw-bold text-dark'}})}}
                			{{form_widget(form.idEtat, {'attr':{'class':'form-control text-dark', 'placeholder':'État du produit'}})}}
						</div>
					</div>
					{{form_label(form.subtitle, 'Écrivez le sous-titre du produit', {'label_attr':{'class':'fw-bold text-dark'}})}}
					{{form_widget(form.subtitle, {'attr':{'class':'form-control text-dark', 'placeholder':'Sous titre du produit'}})}}

					{{form_label(form.description, 'Description précise du produit', {'label_attr':{'class':'fw-bold text-dark'}})}}
					{{form_widget(form.description, {'attr':{'class':'form-control text-dark', 'placeholder':'Description du produit'}})}}
					
					<div class="row">
						<div class="col">
							{{form_label(form.illustration, 'Image pour le produit', {'label_attr':{'class':'fw-bold text-dark'}})}}
							{{form_widget(form.illustration, {'attr':{'class':'form-control text-dark', 'placeholder':'Image du produit'}})}}
						</div>
						<div class="col">
							{{form_label(form.quantite, 'Quantité en stock du produit', {'label_attr':{'class':'fw-bold text-dark'}})}}
							{{form_widget(form.quantite, {'attr':{'class':'form-control text-dark', 'placeholder':'Quantité en stock'}})}}
						</div>
					</div>

					{{form_label(form.prix, 'Prix de l\'article', {'label_attr':{'class':'fw-bold text-dark'}})}}
					{{form_widget(form.prix, {'attr':{'class':'form-control text-dark', 'placeholder':'Prix de l\'article'}})}}

					{{form_widget(form.envoyer, {'label':"Ajouter un produit", 'attr':{'class':'btn btn-outline-primary mt-3 text-primary'}})}}
                {{form_end(form, {render_rest: true})}} 
        </div>
    </div>
</div>    
{% endblock %}
