{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Nos marques{% endblock %}

{% block body %}
{{parent()}}
<div class="container p-4 text-center">
    <h2>Nos marques</h2>
    <div class="row pt-2 pb-2 d-flex justify-content-center">
        <div class="col-8">
            <ul class="list-group">
                {% for marque in marques %}
                    <li class="list-group-item"><a class="no-decoration" href="{{ path('app_product_marque', {'id': marque.id}) }}">{{marque.libelle | upper}}</a></li>
                {% endfor %}        
            </ul>
        </div>
    </div>
    <div class="container pt-2 pb-2 d-flex justify-content-center">
        {{ knp_pagination_render(marques) }}
    </div>
</div>


{% endblock %}