{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Liste des produits{% endblock %}

{% block body %}
{{ parent() }}

	<div class="container-fluid p-4">
        <h2 class="text-primary text-center mt-2">Retrouvez tous nos produits !</h2>
        <h6 class="text-primary text-center mt-2"><em>Vous pouvez affiner votre recherche grâce à la barre de navigation au dessus !</em></h6>

		<div class="row justify-content-center">
			<div class="col-12 col-md-8 bg-white p-4 m-0 text-primary">
                {% if produits is empty %}
                    <div class="container text-center">
                        <h5 class="text-dark">Aucun produit n'est disponible à la vente !</h5> 
                    </div>  
                {% else %}
                <div class="container p-4 d-flex justify-content-center">
                    <div class="row">
                    {% for produit in produits | sort((a, b) => b.prix <=> a.prix)%}
                        <div class="card m-2" style="width: 18rem;">
                            {% for fichier in produit.illustration %}
						<img class="card-img-top" src="{{ asset('uploads/fichiers/'~fichier.nomServeur) }}" alt="{{ produit.slug }}">
                        {% endfor %}   
                            <div class="card-body">
                                <h3 class="card-title text-dark"><b>{{produit.libelle}}</b></h3>
								{% if produit.quantite == 0 %}
                                    <h6 class="card-text text-danger">Rupture de stock</h6>
                                    <button class="btn btn-primary rounded"disabled>Restock prochainement</button>
                                {% else %}    
                                    <h6 class="card-text">En stock: {{produit.quantite}}</h6>
                                    <h3 class="card-title pricing-card-title">{{produit.prix}}€</h3>
                                    <a class="btn btn-info rounded" href="{{path('app_product_public', {'slug':produit.slug})}}">Voir le produit</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}    
                    </div>
                </div>
                {% endif %}
			</div>
		</div>
	</div>
{% endblock %}
