{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Liste des contacts{% endblock %}

{% block body %}
{{ parent() }}

	<div class="container-fluid">
		<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Liste des contacts</h1>
		<div class="row justify-content-center">
			<div class="col-12 col-md-8 bg-white p-4 m-0 text-primary">

                {% if contacts is empty %}
                    <div class="container text-center">
                        <h5 class="text-dark">Aucun contact n'a été pris !</h5> 
                    </div>  
                {% else %}
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr class="fw-bold text-primary">
                                <th scope="col">Email</th>
								<th scope="col">Nom</th>
								<th scope="col">Prénom</th>
								<th scope="col">Date de contact</th>
								<th scope="col">Sujet</th>
								<th scope="col">Texte</th>        
								<th scope="col"></th>        
							</tr>
						</thead>
						<tbody>
							{% for contact in contacts | sort((a, b) => b.dateContact <=> a.dateContact)%}
								<tr class="{{ cycle(['table-primary', 'table-secondary'], loop.index0) }}">
									<td>{{ contact.email | lower }}</td>
									<td>{{ contact.nom | upper }}</td>
                                    <td>{{ contact.prenom | capitalize }}</td>
                                    <td>{{ contact.dateContact | date("d-m-Y à H:i:s") }}</td>
                                    <td>{{ contact.idSujet }}</td>
                                    <td>{{ contact.texte | capitalize }}</td>
                                    <td><a href="{{path('app_liste_contact', {'id':contact.id})}}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                        </a>
                                    </td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
                {% endif %}
			</div>
		</div>
	</div>

{% endblock %}
