<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta author="BECQUAERT Rémi">
        <link rel="icon" type="image/x-icon" href="{{asset('images/logo.png')}}">

        <title>{% block title %}Web Deal Market - {% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    </head>
    <body>
        {% block body %}
            <nav class="navbar navbar-expand-lg bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand text-light" href="{{path('app_base')}}">Accueil</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-light" aria-current="page" href="#">Revendre mon appareil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-light" aria-current="page" href="{{path('app_reparer')}}">Service de réparation</a>
                        </li> 
                       <li class="nav-item">
                            <a class="nav-link active text-light" aria-current="page" href="{{path('app_contact')}}">Contact</a>
                        </li>         

                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link active text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Gestion produit
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Liste des produits</a></li>
                                <li><a class="dropdown-item" href="#">Liste des commandes</a></li>
                                <li><a class="dropdown-item" href="#">Liste des reprises</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Gestion rendez-vous
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{path('app_booking_index')}}">Liste des demandes de rendez-vous</a></li>
                                <li><a class="dropdown-item" href="{{path('app_booking_valids')}}">Liste des rendez-vous validés</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Gestion du site
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ path('app_liste_contact') }}">Liste des contacts</a></li>
                                <li><a class="dropdown-item" href="#">Liste des logs</a></li>
                            </ul>
                        </li>
                        {% endif %}

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                            <a class="nav-link active text-light" aria-current="page" href="{{path('app_profile')}}">Mon profil</a>
                        </li>  
                        <li class="nav-item">
                            <a class="nav-link active text-light" aria-current="page" href="#"><i class="fa-regular fa-cart-shopping-fast"></i></a>
                        </li>  
                        {% endif %}

                        {% if not app.user %}
                            <a class="nav-link active text-light" href="{{path('app_login')}}">Se connecter</a>
                            <a class="nav-link active text-light" href="{{path('app_register')}}">S'inscrire</a>
                        {% endif %}
                        {% if app.user %}
                            <a class="nav-link disabled">{{ app.user.userIdentifier }}</a>
                            <a class="nav-link active text-light" href="{{path('app_logout')}}">Se déconnecter</a>
                        {% endif %}
                    </ul>
                    </div>
                </div>
            </nav>
        
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#productNavbar" aria-controls="productNavbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand text-dark" href="#">Voir tous les produits</a>
                    <div class="collapse navbar-collapse" id="productNavbar">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="#">Rechercher par marque</a>
                                </li>                
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Smartphones</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Apple</a></li>
                                        <li><a class="dropdown-item" href="#">Samsung</a></li>
                                        <li><a class="dropdown-item" href="#">Huawei</a></li>
                                        <li><a class="dropdown-item" href="#">Oppo</a></li>
                                        <li><a class="dropdown-item" href="#">Motorola</a></li>
                                        <li><a class="dropdown-item" href="#">Nokia</a></li>
                                        <li><a class="dropdown-item" href="#">Redmi</a></li>
                                        <li><a class="dropdown-item" href="#">Blackberry</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Accessoires téléphone</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Coques</a></li>
                                        <li><a class="dropdown-item" href="#">Protections</a></li>
                                        <li><a class="dropdown-item" href="#">Chargeurs</a></li>
                                        <li><a class="dropdown-item" href="#">Écouteurs sans-fil</a></li>
                                        <li><a class="dropdown-item" href="#">Kits main-libre</a></li>
                                        <li><a class="dropdown-item" href="#">Câbles USB</a></li>
                                        <li><a class="dropdown-item" href="#">Adaptateurs</a></li>
                                        <li><a class="dropdown-item" href="#">Autres accessoires</a></li>
                                    </ul>
                                </li>                
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">PC portables</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">A compléter</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">PC fixes</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">A compléter</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Consoles</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">PS4/PS3</a></li>
                                        <li><a class="dropdown-item" href="#">Nintendo Switch/DS</a></li>
                                        <li><a class="dropdown-item" href="#">Xbox One X/S/360</a></li>
                                        <li><a class="dropdown-item" href="#">Autres consoles</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Goodies</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Figurines Pop</a></li>
                                        <li><a class="dropdown-item" href="#">Figurines</a></li>
                                        <li><a class="dropdown-item" href="#">Cartes à collectionner</a></li>
                                        <li><a class="dropdown-item" href="#">Peluches</a></li>
                                        <li><a class="dropdown-item" href="#">Autres goodies</a></li>
                                    </ul>
                                </li>                
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="#">Écrans TV</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="#">Électroménager</a>
                                </li>
                        </ul>
                    </div>
                </div>
            </nav>

            {% for message in app.flashes('notice') %}
                <h2 class="alert alert-warning text-center" role="alert">
                    {{ message }}
                </h2>
            {% endfor %}

            {% for message in app.flashes('danger') %}
                <h2 class="alert alert-danger text-center" role="alert">
                    {{ message }}
                </h2>
            {% endfor %}

            {% for message in app.flashes('success') %}
                <h2 class="alert alert-success text-center" role="alert">
                    {{ message }}
                </h2>
            {% endfor %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <script src="{{asset('js/tarteaucitron/tarteaucitron.js')}}"></script>

        <script type="text/javascript">
            tarteaucitron.init({
            "privacyUrl": "", /* Privacy policy url */
            "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */

            "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
            "cookieName": "tarteaucitron", /* Cookie name */
        
            "orientation": "middle", /* Banner position (top - bottom) */
        
            "groupServices": false, /* Group services by category */
            "serviceDefaultState": "wait", /* Default state (true - wait - false) */
                            
            "showAlertSmall": false, /* Show the small banner on bottom right */
            "cookieslist": false, /* Show the cookie list */
                            
            "closePopup": false, /* Show a close X on the banner */

            "showIcon": true, /* Show cookie icon to manage cookies */
            //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
            "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

            "adblocker": false, /* Show a Warning if an adblocker is detected */
                            
            "DenyAllCta" : true, /* Show the deny all button */
            "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
            "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
                            
            "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

            "removeCredit": false, /* Remove credit link */
            "moreInfoLink": true, /* Show more info link */

            "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
            "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

            //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
                            
            "readmoreLink": "", /* Change the default readmore link */

            "mandatory": true, /* Show a message about mandatory cookies */
            "mandatoryCta": true /* Show the disabled accept button when mandatory on */
            });
        </script>

        <script type="text/javascript">
            tarteaucitron.user.gtagUa = 'G-BG9KJCMFMH';
            tarteaucitron.user.gtagMore = function () {  };
            (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
        </script>

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-BG9KJCMFMH"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-BG9KJCMFMH');
        </script>
        {% endblock %}
        
        {% block footer %}
            <!-- Footer -->            
            <footer class="bg-dark text-center text-white">
            <!-- Grid container -->
            <div class="container p-4">
                <!-- Section: Social media -->
                <section class="mb-4">
                <a class="btn btn-outline-light btn-floating m-1 text-dark" href="https://www.facebook.com/webdealmarketbethune" role="button"
                    ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="btn btn-outline-light btn-floating m-1 text-dark" href="https://www.instagram.com/webdealmarket/" role="button"
                    ><i class="fab fa-instagram"></i
                ></a>
                <!-- Section: Social media -->

                <!-- Section: Text -->
                <section class="mb-4">
                <p>
                    Suivez-nous sur nos réseaux sociaux !<br/>📱WEB DEAL MARKET votre boutique spécialisée en équipement multimédia à Béthune !📱
                </p>
                </section>
                <!-- Section: Text -->

                <!-- Section: Links -->
                <section class="">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Nos services</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Tous nos produits</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Rechercher par marque</a>
                        </li>
                        <li>
                            <a href="{{path('app_reparer')}}" class="text-white">Service de réparation</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Revendre mon appareil</a>
                        </li>
                    </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Nos produits</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Téléphones</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">PC portables</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">PC fixes</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Consoles</a>
                        </li>
                    </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Nos produits</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Goodies</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Accessoires téléphone</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Écrans TV</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Électroménager</a>
                        </li>
                    </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Liens utiles</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="{{path('app_contact')}}" class="text-white">Contact</a>
                        </li>
                        <li>
                            <a href="https://goo.gl/maps/zEranQBGj6EwosT7A" class="text-white">Notre adresse</a>
                        </li>
                        <li>
                            <a href="{{path('app_mentions')}}" class="text-white">Mentions légales</a>
                        </li>
                        <li>
                            <a href="{{path('app_cgv')}}" class="text-white">Conditions Générales de Ventes</a>
                        </li>
                    </ul>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
                </section>
                <!-- Section: Links -->
            </div>
            <!-- Grid container -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2023 Copyright:
                <a class="text-white" href="#">webdealmarket.fr</a>
            </div>
            </footer>
            <!-- Footer -->
            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
            <script>
                AOS.init();
            </script>
        {% endblock %}
    </body>
</html>
