{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Gestion des transporteurs{% endblock %}

{% block body %}
{{parent()}}

<div class="container p-4 text-center">
    <div class="row">

        <div class="col">
            <h2>Liste des transporteurs</h2>

            {% if lesTransporteurs is empty %}
                <div class="container text-center">
                    <h5 class="text-dark">Aucun transporteur n'est ajouté !</h5> 
                </div>  
            {% else %}
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="fw-bold text-primary">
                                <th scope="col">Nom du transporteur</th>
                                <th scope="col">Description</th>
                                <th scope="col">Prix</th>
                                <th scope="col">Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for carrier in lesTransporteurs | sort((a, b) => a.nom <=> b.nom) %}
                                <tr>
                                    <td>{{ carrier.nom}}</td>
                                    <td>{{ carrier.description}}</td>
                                    <td>{{ carrier.prix}}</td>
                                    <td><a href="{{path('app_carrier', {'id':carrier.id})}}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h3 class="modal-title text-danger" id="exampleModalLabel"><strong>Suppression du transporteur {{carrier.nom}}</strong></h3>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<h5>Vous allez supprimer ce transporteur ! Êtes-vous sûr ?</h5><br/>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ne pas supprimer</button>
													<a class="btn btn-outline-danger" href="{{path('app_carrier', {'id':carrier.id})}}">Je confirme</a>
												</div>
											</div>
										</div>
									</div>
                            {% endfor %}
                        </tbody>
                    </table>    
                </div>
            {% endif %}
        </div>

        <div class="col">
            <h2>Ajouter un transporteur</h2>
            {{form_start(form)}}

                {{form_label(form.nom, 'Ajoutez le nom du transporteur', {'label_attr':{'class':'fw-bold text-dark'}})}}
                {{form_widget(form.nom, {'attr':{'class':'form-control text-dark', 'placeholder':'Colissimo, UPS...'}})}}


                {{form_label(form.description, 'Ajoutez le descriptif', {'label_attr':{'class':'fw-bold text-dark'}})}}
                {{form_widget(form.description, {'attr':{'class':'form-control text-dark', 'placeholder':'Votre texte'}})}}

                {{form_label(form.prix, 'Ajouter le prix des frais de ports', {'label_attr':{'class':'fw-bold text-dark'}})}}
                {{form_widget(form.prix, {'attr':{'class':'form-control text-dark', 'placeholder':'Prix'}})}}

                {{form_widget(form.envoyer, {'label':"Ajouter un transporteur", 'attr':{'class':'btn bg-primary mt-3 text-dark'}})}}
            {{form_end(form, {render_rest: true})}} 
        </div>
    </div>
</div>

{% endblock %}
